In [38]:
# Dependencies
import requests
import pandas as pd
import json

api_key = "ca0972ce88b3d2689ba64d017af01ef87c2f5c9b"

In [56]:
# Run Census Search to retrieve data on all states and counties
r = requests.get(f'https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_001E,B01002_001E,B19013_001E,B19301_001E,B17001_002E,B23025_005E,B02001_002E,B02001_003E,B03003_003E,B05001_002E,B05001_005E&for=county:*&in=state:*&key={api_key}')
r.status_code
data = r.json()

# Convert to DataFrame
df = pd.DataFrame(data)
header = df.iloc[0]
df = df[1:]
df.columns = header

# Column Re-naming
census_pd = df.rename(columns = {'NAME': 'county&state',
                "B01001_001E": "Population",
                "B01002_001E": "Median Age",
                "B19013_001E": "Household Income",
                "B19301_001E": "Per Capita Income",
                "B17001_002E": "Poverty Count",
                "B23025_005E": "Unemployment Count",
                "B02001_002E" : "Race: White",              
                "B02001_003E" : "Race: African American",
                "B03003_003E" : "Race: Hispanic or Latino",
                "B05001_002E": "US Citizen, born in US",
                "B05001_005E": "US Citizen, by naturalization"})

In [57]:
census_pd

,county&state,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Unemployment Count,Race: White,Race: African American,Race: Hispanic or Latino,"US Citizen, born in US","US Citizen, by naturalization",state,county
1,"Baldwin County, Alabama",223234,43.0,56439,32443,22140,5549,190912,18338,10534,210514,4495,01,003
2,"Calhoun County, Alabama",113605,39.6,48156,24579,19082,3754,82323,25226,4614,110818,647,01,015
3,"Cullman County, Alabama",83768,41.9,50906,23968,8737,1783,None,None,3752,80607,800,01,043
4,"DeKalb County, Alabama",71513,37.7,44208,21939,13855,1606,59305,688,10775,None,None,01,049
5,"Elmore County, Alabama",81209,39.0,61854,31396,8898,1014,61634,17768,2563,78398,446,01,051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico",131881,42.3,15130,11893,68627,3998,108065,8321,130227,None,None,72,113
837,"San Juan Municipio, Puerto Rico",318441,44.5,23005,19742,124927,25193,183816,41261,309346,None,None,72,127
838,"Toa Alta Municipio, Puerto Rico",72025,42.1,28440,15088,22348,1219,None,None,70269,None,None,72,135
839,"Toa Baja Municipio, Puerto Rico",74271,42.0,23368,13221,28367,3882,57304,9848,72745,None,None,72,137
840,"Trujillo Alto Municipio, Puerto Rico",63674,42.6,32244,18035,17415,721,37802,8949,62918,None,None,72,139

In [58]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd.to_csv("census_data_county.csv", encoding="utf-8", index=False)